.photo-grid {
	/* display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 16px;
	column-gap: 16px; */
	display: grid;
	grid-template-columns: repeat(auto-fit, 284px);
	grid-template-rows: repeat(3, 1fr);
	gap: 16px;
}

@media screen and (max-width: 1024px) {
	.photo-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 14px;
	}
}

@media screen and (max-width: 768px) {
	.photo-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 16px;
	}
}

@media screen and (max-width: 320px) {
	.photo-grid {
		grid-template-columns: 1fr;
		grid-template-rows: auto-fit;
		gap: 14px;
	}
}