.section {
	max-width: 984px;
	margin: 0 auto;
	margin-top: 92px;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.section {
		margin: 88px 48px 0;
	}
}

@media screen and (max-width: 768px) {
	.section {
		margin: 88px 24px 0;
	}
}

@media screen and (max-width: 320px) {
	.section {
		margin: 64px 16px 0;
	}
}